<header class="header">
  <div class="header-content container">
    <a routerLink="/">
      <img src="emumba-logo.png" alt="company logo" />
    </a>
    <div class="header-actions">
      <form class="search">
        <mat-icon>search</mat-icon>
        <input
          type="text"
          class="search-input"
          name="searchQuery"
          placeholder="Search..."
          [formControl]="searchControl"
        />
      </form>
      @if(authStore.user()){
      <app-user-menu />
      }@else {
      <button class="btn" (click)="authStore.signIn()">Login</button>
      }
    </div>
  </div>
</header>
