.gists {
  width: 85%;
  margin-top: 20px;
  overflow: scroll;
}
.gist-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;

  h2 {
    font-size: 25px;
  }
}
