<section class="container user">
  @if(!gistStore.isLoading()){

  <div class="user-profile">
    <img [src]="authStore.user().photoURL" alt="User avatar" />
    <h3>
      {{
        authStore.user().displayName || authStore.user().email
          | emailtoDisplayName
          | titlecase
      }}
    </h3>
    <a href="https://github.com/shajjar-emumba" target="_blank"
      >View GitHub Profile</a
    >
  </div>

  <div class="user-gists">
    <h2>
      {{ isStarredView ? "Starred Gists" : "All Gists" }}
      <span class="count">{{ gistStore.userGists().length }}</span>
    </h2>
    <div class="gist-cards">
      @for(gist of gistStore.userGists(); track gist.id) {
      <app-gist-card [gist]="gist" [isPublicGists]="false" />
      }
    </div>
  </div>
  }@else {
  <mat-spinner></mat-spinner>
  }
</section>
